<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: link-css"></th:block>
    <title>Edit RoomSchedu_Time</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Edit RoomSchedu_Time</h1>
    <form th:action="@{/roomschedu_times/edit}" th:object="${roomschedu_time}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="col-6 mb-3">
            <label class="form-label" for="roomschedu_day">RoomSchedu_Day:</label>
            <select class="form-control" name="roomschedu_day.id" id="roomschedu_day">
                <option value="">-- Select RoomSchedu_Day --</option>
                <option th:each="roomschedu_day : ${roomschedu_days}" th:value="${roomschedu_day.id}" th:text="${roomschedu_day.dateshow}"></option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('roomschedu_day.id')}" th:errors ="*{roomschedu_day}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="timeFrame">TimeFrame:</label>
            <select class="form-control" name="timeFrame.id" id="timeFrame">
                <option value="">-- Select TimeFrame --</option>
                <option th:each="timeFrame : ${timeFrames}" th:value="${timeFrame.id}" th:text="${timeFrame.starttime}"></option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('timeFrame.id')}" th:errors ="*{timeFrame}"></span>
        </div>
        <input type="submit" value="Save">
    </form>
    <br>
    <a th:href="@{/roomschedu_times}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>