
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Branch List</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">



    <table class="table">
        <tr>
            <!--                <th>ID</th>-->
            <th>address</th>
            <th>hotlline</th>
            <th>Khu Vực</th>


        </tr>
        <tr th:each="branch : ${branch}">
            <!--                <td th:text="${branch.id}"></td>-->

            <td th:text="${branch.address}"></td>

            <td th:text="${branch.hotlline}"></td>

            <td th:text="${branch.area.name}"></td>

            <td>
                <a th:href="@{/admin/branch/edit/{id}(id=${branch.id})}">Edit</a>
                <form th:action="@{/admin/branch/delete/{id}(id=${branch.id})}" method="post" onsubmit="return confirm('Are you sure?')">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
