<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>Edit Room</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Edit RowChair</h1>
  <form th:action="@{/chairs/edit}" th:object="${chair}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="col-6 mb-3">
      <label class="form-label" for="chair_name">chair_name:</label>
      <input class="form-control" type="text" th:field="*{chair_name}" id="chair_name">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="rowchair">Rowchair:</label>
      <select class="form-control" name="rowchair.id" id="rowchair">
        <option value="">-- Select Rowchair --</option>
        <option th:each="rowchair : ${rowchairs}" th:value="${rowchair.id}" th:text="${rowchair. row_name}"></option>
      </select>
      <span class="text-danger" th:if="${#fields.hasErrors('rowchair.id')}" th:errors ="*{rowchair}"></span>
    </div>

    <input type="submit" value="Save">
  </form>
  <br>
  <a th:href="@{/chairs}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>