<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>My App</title>
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<header th:fragment ="header">
  <nav class="navbar navbar-expend-lg bg-dark navbar-dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="home.html">Admin movie web</a>
      <li sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
          <button class="btn btn-outline-primary" type="submit">Logout</button>
        </form>
      </li>
      <li sec:authorize="!isAuthenticated()">
        <a class="btn btn-outline-primary" href="/login">Login</a>
      </li>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/home/home-admin">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Area
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/admin/area">Area list</a></li>
              <li><a class="dropdown-item" href="/admin/area/add">Add Area</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Branch
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="/admin/branch">Branch list</a></li>
              <li><a class="dropdown-item" href="/admin/branch/add">Add Branch</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Room
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <li><a class="dropdown-item" href="/admin/room">Room list</a></li>
              <li><a class="dropdown-item"href="/admin/room/add">add Room</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              RowChair
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <li><a class="dropdown-item" href="/admin/rowchair">RowChair list</a></li>
              <li><a class="dropdown-item"href="/admin/rowchair/add">add RowChair</a></li>
            </ul>
          </li>
          <!-- Thêm các mục menu khác tương tự cho các danh mục khác -->
        </ul>
      </div>
    </div>
  </nav>
</header>
<div th:insert="~{::${content}}">

</div>
<footer th:fragment="footer">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>