<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>Add RowChair</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Add  RowChair</h1>
  <form th:action="@{/rowchairs/add}" th:object="${rowchair}" method="post">
    <div class="col-6 mb-3">
      <label class="form-label" for="row_name">row_name:</label>
      <input class="form-control" type="text" th:field="*{row_name}" id="row_name">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="chair_count">chair_count:</label>
      <input class="form-control" type="text" th:field="*{chair_count}" id="chair_count">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="room">Room:</label>
      <select class="form-control" name="room.id" id="room">
        <option value="">-- Select Room --</option>
        <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room. room_number}"></option>
      </select>
      <span class="text-danger" th:if="${#fields.hasErrors('room.id')}" th:errors ="*{room}"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  <br>
  <a th:href="@{/rowchairs}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>

</body>
</html>