<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: link-css"></th:block>
    <title>Add TimeFrame</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Add TimeFrame</h1>
    <form th:action="@{/timeFrames/add}" th:object="${timeFrame}" method="post">
        <div class="col-6 mb-3">
            <label class="form-label" for="starttime">starttime:</label>
            <input class="form-control" type="time" th:field="*{starttime}" id="starttime">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="endtime">endtime:</label>
            <input class="form-control" type="time" th:field="*{endtime}" id="endtime">
        </div>

        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    <br>
    <a th:href="@{/timeFrames}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>

</body>
</html>