<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: link-css"></th:block>
    <title>Add Room</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Add Room</h1>
    <form th:action="@{/admin/room/add}" th:object="${room}" method="post">
        <div class="col-6 mb-3">
            <label class="form-label" for="room_number">room_number:</label>
            <input class="form-control" type="text" th:field="*{room_number}" id="room_number">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="branch">Branch:</label>
            <select class="form-control" name="branch.id" id="branch">
                <option value="">-- Select Branch --</option>
                <option th:each="branch : ${branch}" th:value="${branch.id}" th:text="${branch.address}"></option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('branch.id')}" th:errors ="*{branch}"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    <br>
    <a th:href="@{/admin/room}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>

</body>
</html>