<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Hệ thống đặt vé xem phim</title>
    <th:block th:replace="client-layout :: link-css"></th:block>
  </head>

  <body>
    <th:block th:replace="client-layout :: header"></th:block>

    <section>
      <div
        class="container"
        style="width: 80%; display: flex; justify-content: center"
      >
        <div
          class="payment-preview sign__wrap"
          style="
            color: white;
            width: 60%;
            min-width: 400px;
            margin-bottom: 20px;
          "
        >
          <h2 style="text-align: center; margin-bottom: 10px">
            Xác nhận hóa đơn thanh toán
          </h2>
          <div class="" style="display: flex; justify-content: space-between">
            <div>
              <div class="bill-detail">
                <p>
                  <strong>Movie Title:</strong>
                  <span th:text="${movie.title}"></span>
                </p>
                <p>
                  <strong>Show Time:</strong>
                  <span
                    th:text="${#temporals.format(schedu_Time.date, 'dd-MM-yyyy')}"
                  ></span>
                  at
                  <span
                    th:text="${#temporals.format(schedu_Time.startTime, 'HH:mm')}"
                  ></span>
                </p>
                <p>
                  <strong>Room:</strong>
                  <span th:text="${schedu_Time.room.room_number}"></span>
                </p>
                <p>
                  <strong>Seats:</strong>
                  <span
                    th:each="chair : ${chairs}"
                    th:text="${chair.chair_name} + ', '"
                  ></span>
                </p>
                <p>
                  <strong>Total Price:</strong>
                  <span id="totalPrice" th:text="${totalPrice} + 'đ'"></span>
                </p>
              </div>
              <div class="bill-voucher">
                <div class="">
                  <label
                    class="sign__label"
                    for="movie"
                    style="display: block; margin-bottom: 10px"
                    >Chọn mã giảm giá nếu có:</label
                  >
                  <select
                    class="js-example-basic-single"
                    id="movie"
                    name="movieId"
                    required
                    onchange="selectVoucher()"
                    style="padding: 5px 10px; border-radius: 10px"
                  >
                    <option value="" disabled selected>Chọn mã giảm giá</option>
                    <!-- Loop through rooms and create option elements -->
                    <th:block th:each="voucher : ${vouchers}">
                      <option
                        th:value="${voucher.vouchercode +'-'+voucher.discount}"
                        th:text="${voucher.detail}"
                      ></option>
                    </th:block>
                  </select>
                </div>
              </div>
            </div>
            <div
              style="border-radius: 10px; border: 1px solid; overflow: hidden"
            >
              <img id="qrcode" th:src="@{/theme/img/qr-code.png}" />
            </div>
          </div>
          <div class="payment-actions" style="display: flex">
            <button
              class="reject-btn catalog__more"
              onclick="rejectPayment()"
              style="border: 1px solid"
            >
              Hủy
            </button>
            <button
              class="confirm-btn catalog__more"
              style="background-color: #2f80ed; color: white"
              onclick="completePayment()"
            >
              Xác nhận
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <th:block th:replace="client-layout :: footer"></th:block>
    <!-- end footer -->

    <!-- JS -->
    <th:block th:replace="client-layout :: scripts"></th:block>
    <script>
      var voucherCode;
      var discount;
      function selectVoucher(){
          const value = document.getElementById("movie").value;
          voucherCode = value.split("-")[0];
          discount = value.split("-")[1];
          const totalPrice = document.getElementById("totalPrice").innerText.replace("đ", "");
          const discountPrice = totalPrice * discount / 100;
          const finalPrice = totalPrice - discountPrice;
          document.getElementById("totalPrice").innerText = finalPrice + "đ";
      }
      function completePayment() {
          const body = {
              "scheduleId": [[${schedu_Time.id}]],
              seatIds: [[${chairs.![id]}]]
          }
          fetch(`/api/payment/save?scheduleId=${body.scheduleId}&voucherCode=${voucherCode ?? null}&${body.seatIds.map(id => `seatIds=${id}`).join('&')}`)
              .then(data => {
                  alert("Thanh toán thành công");
                  window.location.href = "/";
              })
              .catch(error => {
                  alert("Thanh toán không thành công" + error);
              });

      }

      function rejectPayment() {
          window.location.href = "/";
      }

      // function fetchQR() {
      //   const totalPrice = document.getElementById("totalPrice").innerText.replace("đ", "");
      //   const discountPrice = totalPrice * discount / 100;
      //   const finalPrice = totalPrice - discountPrice;
      //   const url = `http://qrcode.io.vn/api/generate/970436/0451000495748/${finalPrice}/chuyen%20khoan%20thanh%20toan%20dat%20phim?frame=1&is_mask=1`;
      //   fetch(url).then(response => {
      //           if (response.ok) {
      //               return response.blob(); // Lấy dữ liệu dạng hình ảnh
      //           }
      //           throw new Error('Network response was not ok.');
      //       })
      //       .then(blob => {
      //           const imgUrl = URL.createObjectURL(blob); // Tạo URL tạm thời từ dữ liệu blob
      //           document.getElementById('qrcode').src = imgUrl; // Hiển thị QR code trong thẻ img
      //       })
      //       .catch(error => {
      //           console.error('There was a problem with the fetch operation:', error);
      //       });
      // }
      // fetchQR();
    </script>
  </body>
</html>
